@use '../../components/sass/variables' as *;

.container {
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;

    th {
        border-bottom: 8px solid white;
        padding-bottom: 15px;
    }
    &__title {
        color: $text-color;
        font-size: 30px;
        font-family: Raleway;
        font-weight: 600;
    }

    &__title th:first-child {
        text-align: justify;
    }

    &__body {
        text-align: justify;
    }

    &__content {
        height: 35px;
        flex-shrink: 0;
        color: $text-color;
        font-size: 25px;
        font-family: Raleway;
        width: 800px;
        height: 35px;
        align-items: center;
    }

    .trNew {
        color: $text-color;
        font-size: 25px;
        font-family: Raleway;
        font-style: italic;
        text-align: justify;
        cursor: pointer;
    }

    .trNew__add {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        font-size: 38px;
        font-family: Raleway;
        font-style: italic;
        color: $text-color;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-background;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 758px;
        height: 436px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    h1 {
        padding: 20px 0;
    }

    &__content--buttons {
        display: flex;
        justify-content: space-around;
    }

    h1 {
        color: #000;
        font-size: 35px;
        font-family: Raleway;
        font-weight: 600;
        padding-bottom: 40px;
    }

    span { 
        color: #000;
        font-size: 25px;
        font-family: Raleway;
        padding: 20px 0;
    }

    input { 
        color: #000;
        font-size: 25px;
        font-family: Raleway;
        padding: 20px 0;
        border-radius: 10px;
        width: 350px;
        padding: 20px 10px;
    }

    &__content--buttons {
        padding-top: 40px;
    }

    button {
        width: 269px;
        height: 77px;
        width: 269px;
        height: 77px;
        border-radius: 10px;
        font-size: 30px;
        font-family: Raleway;
        font-weight: 600;
        margin: 0 10px;
    }

    .buttonNo {
        background-color: $header-background;
        color: $text-color;
        border: none;
    }

    .buttonYes {
        background-color: $text-color;
        color: $body-background;
        border: 1px solid #000;
    }
}