@use '../../components/sass/variables' as *;

.app {
    display: flex;
    flex-direction: column;
}


.body {
    background-color: $body-background;
    flex-grow: 1;

    &__margin {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 60px;
    }

    &__text {
        padding-top: 145px;
        color: $text-color;
        font-size: 40px;
        font-family: Poppins;
        font-weight: 600;
    }
}